@{
    ViewBag.Title = "Sales";
}
@{
    var client = new WebClient();
    client.Encoding = System.Text.Encoding.UTF8;
    var json = client.DownloadString("http://localhost:49413/api/docvenda/year/0");
    var vendas = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/artigos/topqtd/5/year/0");
    var top_artigos = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/artigos/categoria/year/0"); 
    var top_categorias = Json.Decode(json);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/">Resumo</a></li>
                <li class="active"><a href="/Sales">Vendas <span class="sr-only">(current)</span></a></li>
                <li><a href="/Purchases">Compras</a></li>
                <li><a href="/Inventory">Inventário</a></li>
                <li><a href="/Clients">Clientes</a></li> 
            </ul>
        </div>
 
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <h2>Crescimento</h2>
                    <br />
                    <br />
                    <div id="firstchart"></div>
                    <hr />
                    <br />
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-6" id="top-artigos">
                    <h2 class=" text-center">Produtos mais vendidos</h2>
                    <div id="secondchart"></div>
                </div>
                <div class="col-lg-6 col-sm-6" data-chart-values="@top_artigos" id="top-Categorias">
                    <h2 class="text-center">Vendas por categoria</h2>
                    <div id="thirdchart"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(".panel").css('cursor', 'pointer');

    var top_artigos =  @Html.Raw(Json.Encode(@top_artigos));
    var top_categorias =  @Html.Raw(Json.Encode(@top_categorias));
    var data_top_artigos = [];
    for(var i = 0; i < top_artigos.length; i++){
        var datatemp = {Produto: 'teste', Vendido: '2', Stock: '3' };

        datatemp.Produto = top_artigos[i].DescArtigo;
        datatemp.Vendido = top_artigos[i].Quantidade;
        datatemp.Stock = top_artigos[i].Stock;
        data_top_artigos.push(datatemp);
    }

    var data_top_categorias = [];
    for(var i = 0; i < top_categorias.length; i++){
        var datatemp = {label: 'teste', value: '2'};

        datatemp.label = decodeURI(top_categorias[i].Categoria);
        datatemp.value = top_categorias[i].TotalVendas;
        data_top_categorias.push(datatemp);
    }
    var data_vendas = @Html.Raw(Json.Encode(@vendas));

    function formatDate(myDate){
        var m_names = new Array("Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez");

        var d = new Date(myDate);

        var curr_month = d.getMonth();
        return (m_names[curr_month]);
    }

    function formatHoverLabel(row, preUnit) {
        var m_long_names = new Array("Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro");
        var d = new Date(row.Num);
        var curr_month = d.getMonth();

        var salesText = "Vendas em "+m_long_names[curr_month];
        salesText = salesText + "<br/>"+row['Total']+preUnit;
        return salesText;
    }

    labelsInGraph = ['Vendas'];
    var firstchart = Morris.Line({
        element: 'firstchart',
        data: data_vendas,
        xkey: 'Num',
        ykeys: ['Total'],
        lineColors: ['green', 'red', 'blue'],
        labels: labelsInGraph,
        hoverCallback: function (index, options, content, row) {
            return formatHoverLabel(row, options.preUnits);
        },
        xLabelFormat: function(str){
            return formatDate(str);
        },
        preUnits: '€',
        resize: true
    });
    
    jQuery(function ($) {

        $(document).on({
            ajaxStart: function() {
                $('#wait').css('display', 'block');
            },
            ajaxStop: function() {
                $('#wait').css('display', 'none');
            }
        });

        $('#year-selection').on('change', function() {
            var teste = $('#selYear').val();
            var data_vendas = [];
            if(teste == null){
                return;
            }
            else if(teste == 3){
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/doccompra/years/' + teste,
                    success: function(response) {
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {y: 'teste', b: '2' };

                            datatemp.y = response[i].Num;
                            datatemp.b = parseFloat(Math.round(response[i].Total * 100) / 100).toFixed(2);
                            data_crescimento.push(datatemp);
                        }
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/docvenda/years/' + teste,
                    success: function(response) {
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {y: 'teste', a: '2' };

                            datatemp.y = response[i].Num;
                            datatemp.a = parseFloat(Math.round(response[i].Total * 100) / 100).toFixed(2);
                            data_crescimento.push(datatemp);
                        }
                        firstchart.setData(data_crescimento);
                    }
                });

            }
            else{

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/docvenda/year/' + teste,
                    success: function(response) {
                        firstchart.setData(response);
                        firstchart.redraw();
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/artigos/topqtd/5/year/' + teste,
                    success: function(response) {
                        data_top_artigos.splice(0,data_top_artigos.length);
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {Produto: 'teste', Vendido: '2', Stock: '3' };

                            datatemp.Produto = response[i].DescArtigo;
                            datatemp.Vendido = response[i].Quantidade;
                            datatemp.Stock = response[i].Stock;
                            data_top_artigos.push(datatemp);
                        }
                        secondchart.setData(data_top_artigos);
                        secondchart.redraw();
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/artigos/categoria/year/' + teste,
                    success: function(response) {
                        data_top_categorias.splice(0,data_top_categorias.length);
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {label: 'teste', value: '2'};

                            datatemp.label = response[i].Categoria;
                            datatemp.value = response[i].TotalVendas;
                            data_top_categorias.push(datatemp);
                        }
                        thirdchart.setData(data_top_categorias);
                        thirdchart.redraw();
                    }
                });
            }


        });
    });

    var secondchart = Morris.Bar({
        element: 'secondchart',
        data: data_top_artigos,
        xkey: 'Produto',
        ykeys: ['Vendido', 'Stock'],
        labels: ['Vendido (x):', 'Stock atual:'],
        resize: true
    });

    var thirdchart = Morris.Donut({
        element: 'thirdchart',
        resize: true,
        data: data_top_categorias
    });
</script>