@{
    var client = new WebClient();
    var json = client.DownloadString("http://localhost:49413/api/doccompra/totalabs");
    var search = Json.Decode(json);
    var json2 = client.DownloadString("http://localhost:49413/api/docvenda/totalabs");
    var search2 = Json.Decode(json2);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <h2>Crescimento</h2>
                    <div id="firstchart"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-sm-6 col-xs-12 col-lg-offset-1">
                        <div class="panel panel-green panel-colorful" id="sales-panel">
                            <div class="panel-body text-center">
                                <p class="text-uppercase mar-btm text-sm">Vendas</p>
                                <i class="fa fa-shopping-cart fa-5x"></i>
                                <hr>
                                <p class="h2 text-thin">254,487</p>
                            </div>
                        </div>
</div>
                <div class="col-lg-2 col-sm-6 col-xs-12">
                    <div class="panel panel-danger panel-colorful" id="purchases-panel">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Compras</p>
                            <i class="fa fa-truck fa-5x"></i>
                            <hr>
                            <p class="h2 text-thin">873</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-12 col-lg-offset-2">
                    <div class="panel panel-green panel-colorful" id="areceivable-panel">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Contas a receber</p>
                            <i class="fa fa-plus fa-5x"></i>
                            <hr>
                            <p class="h2 text-thin">2,423</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-12">
                    <div class="panel panel-danger panel-colorful" id="apayable-panel">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Contas a pagar</p>
                            <i class="fa fa-minus fa-5x"></i>
                            <hr>
                            <p class="h2 text-thin">7,428</p>
                        </div>
                    </div>
                </div>
            </div><div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h2>Segundo gráfico</h2>
                    <div id="secondchart"></div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <h2>Terceiro gráfico</h2>
                    <div id="thirdchart"></div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h2>Top Vendas</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Vendido (x)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Produto 1</td>
                                    <td>250</td>
                                </tr>
                                <tr>
                                    <td>Produto 2</td>
                                    <td>220</td>
                                </tr>
                                <tr>
                                    <td>Produto 4</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Produto 4</td>
                                    <td>145</td>
                                </tr>
                                <tr>
                                    <td>Produto 5</td>
                                    <td>24</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <h2>Top Compras</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Comprado (x)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Produto 3</td>
                                    <td>21</td>
                                </tr>
                                <tr>
                                    <td>Produto 2</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Produto 4</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Produto 1</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Produto 5</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <h2>Top Clientes</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>José</td>
                                    <td>250000</td>
                                </tr>
                                <tr>
                                    <td>Alberto</td>
                                    <td>222000</td>
                                </tr>
                                <tr>
                                    <td>Manuel</td>
                                    <td>214000</td>
                                </tr>
                                <tr>
                                    <td>Luís</td>
                                    <td>145000</td>
                                </tr>
                                <tr>
                                    <td>Carlos</td>
                                    <td>24000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>*@
            </div>
    </div>
</div>


<script>

    $("#sales-panel").click(function () {
        window.location.href = "Sales/Sales";
    });

    $("#purchases-panel").click(function () {
        window.location.href = "Purchases/Purchases";
    });

    $("#areceivable-panel").click(function () {
        window.location.href = "Accounts/Receivable";
    });

    $("#apayable-panel").click(function () {
        window.location.href = "Accounts/Payable";
    });

    $(".panel").css('cursor', 'pointer');

    Morris.Line({
        element: 'firstchart',
        data: [
          { y: '2006', a: 100, b: 90 },
          { y: '2007', a: 75, b: 65 },
          { y: '2008', a: 50, b: 40 },
          { y: '2009', a: 75, b: 65 },
          { y: '2010', a: 50, b: 40 },
          { y: '2011', a: 75, b: 65 },
          { y: '2012', a: 100, b: 90 }
        ],
        xkey: 'y',
        ykeys: ['a', 'b'],
        resize: true,
        labels: ['Series A', 'Series B']
    });

    Morris.Donut({
        element: 'secondchart',
        resize: true,
        data: [
          { label: "Download Sales", value: 12 },
          { label: "In-Store Sales", value: 30 },
          { label: "Mail-Order Sales", value: 20 }
        ]
    });

    Morris.Donut({
        element: 'thirdchart',
        resize: true,
        data: [
          { label: "Download Sales", value: 120 },
          { label: "In-Store Sales", value: 30 },
          { label: "Mail-Order Sales", value: 20 }
        ]
    });
</script>